/* font declarations */
@font-face {
    font-family: GothamBook;
    src: url('../fonts/GothamBookRegular.otf');
}

@font-face {
    font-family: GothamLight;
    src: url('../fonts/GothamLightRegular.otf');
}

@font-face {
    font-family: Hind;
    src: url('../fonts/Hind-Regular.ttf');
}

@font-face {
    font-family: Hind-SemiBold;
    src: url('../fonts/Hind-SemiBold.ttf');
}

/* ========= */
/* font base */
/* ========= */

*, *:after, *:before,
h1, h2, h3, h4, h5, h6,
p, div, span {
    font-family: 'Hind', Arial, Helvetica, sans-serif;
}

/* ========= */
/* backgrounds base */
/* ========= */

.primaryBg {
    background-color: #007DC3;
}

.secondaryBg {
    background-color: #81C153;
}

.primary {
    color: #007DC3;
}

button.cta.primary {
    color: #007DC3;
}

.secondary {
    color: #81C153;
}

button.cta.secondary {
    color: #81C153;
}

.secondaryHover:hover {
    color: #81C153;
}

.pageText {
    color: #4A4A4A;
    font-size: 16px;
}

.primaryBorder {
    border: 1px solid #007DC3;
}

.secondaryBorder {
    border: 1px solid #81C153;
}

button.cta.secondaryBorder {
    border: 1px solid #81C153;
}

.primaryHover:hover {
    color: #10537B;
}

.finePrint {
    color: #BFBDBF;
}

/* ========= */
/* anchor tags */
/* ========= */

a {
    text-decoration: none;
}

/* ========= */
/* flex base */
/* ========= */

.verticalCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ========= */
/* header */
/* ========= */

.header {
    padding: 14px 20px;
    height: 128px;
}

.logoWrap, .nav {
    height: 100%;
}

/* ========= */
/* header logo */
/* ========= */

.logo {
    display: block;
    height: 100%;
    width: 100%;
    color: transparent;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    max-width: 218px;
}

.logo:hover, .logo:focus, .logo:active, .logo:visited {
    color: transparent;
}

/* ========= */
/* header nav */
/* ========= */

.navList {
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.navItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navItem a {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}

.navItem a.loginLink {
    border: 1px solid #007DC3;
    padding: 10px 0;
}

/* ========= */
/* tel number link */
/* ========= */

.telWrap {
    text-align: right;
    font-size: 22px;
}

/* ========= */
/* footer base */
/* ========= */

.footer {
    padding: 40px 40px 20px;
    color: #ffffff;
}

.footerColumn {
    padding: 0 10px;
}

.footerColumn:first-child {
    padding-left: 0;
}

.footerColumn:last-child {
    padding-right: 0;
}

.footer h3 {
    font-weight: 400;
    font-size: 20px;
}

.footerList {
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.footerList li {
    margin: 15px 0;
    padding: 0 0 0 0;
    font-size: 15px;
}

.contactInfo a {
    color: white;
    line-height: 1.4;
    margin-bottom: 15px;
    display: inline-block;
}

.copyright {
    text-align: center;
    padding: 20px 0 0 0;
    opacity: 0.7;
}

/* ========= */
/* sections base */
/* ========= */

section {
    min-height: 500px;
}

section .coverWrap {
    position: relative;
}

section .cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* ========= */
/* overlays */
/* ========= */

.overlay {
    mix-blend-mode: multiply;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.35));
}

.greyscale {
    filter: grayscale(5%);
}

.blur {
    filter: blur(1px);
}

/* ========= */
/* hero section */
/* ========= */

.hero {
    background-image: url('../images/dispense.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 560px;
    max-height: 560px;
    max-width: 100vw;
}

.heroText {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #ffffff;
    text-align: center;
    padding: 60px 60px 30px;
}

.heroText h1 {
    font-weight: 400;
    margin: 0 0 0 0;
}

.heroText p {
    margin: 10px auto 30px;
    max-width: 430px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.5;
}

/* ========= */
/* cta buttons */
/* ========= */

button.cta {
    display: block;
    border: 2px solid;
    margin: 0 auto;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s ease;
    padding: .4em 1.5em .3em;
    font-size: 21px;
    position: relative;
    line-height: 1.7em;
    font-weight: 500;
}

button .blurBg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.05);
}

button.cta.withBg {
    color: #ffffff;
    border-color: #ffffff;
}

button.cta.noBg {
    border-width: 2px;
}

button.cta:after {
    display: inline-block;
    position: absolute;
    margin-left: -1em;
    opacity: 0;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    font-size: 15px;
    transition: all .2s ease;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    top: 14%;
    -webkit-font-smoothing: antialiased;
}

button.cta:hover {
    padding: .4em 2.2em .3em .9em;
    border: 2px solid transparent;
    background-color: rgba(255,255,255,.2);
}

button.cta.noBg:hover {
    background-color: rgba(0,0,0,.05);
}

button.cta:hover:after {
    margin-left: 12px;
    opacity: 1;
    padding-top: 1px;
}

button.cta.loginAction {
    font-size: 16px;
    line-height: 1.5;
    font-family: Hind, Arial, Helvetica, sans-serif;
}

button.cta.loginAction:after {
    top: 30%;
}

button.cta.loginAction:hover:after {
    margin-left: 16px;
}

.actions {
    display: flex;
    max-width: 430px;
    justify-content: center;
    margin: 0 auto;
}

.telLink {
    font-size: 22px;
    margin-left: 20px;
    text-align: center;
    /*margin-bottom: 15px;*/
    /*margin-top: 10px;*/
    padding-top: 8px;
    text-decoration: underline;
}

/* ======== */
/* main body panel */
/* ========= */

.bodySection {
    padding: 80px 34px;
}

.fig {
    margin: 0 0 0 0;
}

.aboutPanel {
    padding-right: 34px;
}

.aboutPanel h2 {
    margin: 0 0 5px 0;
    font-weight: 400;
    font-size: 1.8em;
}

.aboutPanel h4 {
    font-weight: 400;
    margin-top: 0;
    font-size: 1.1em;
}

.blurbContent {
    display: flex;
}

.blurbText {
    line-height: 1.6;
}

.aboutPanel .fig {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    padding: 5px 15px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutPanel .fig img {
    max-width: 125px;
    max-height: 103px;
}

.withFigure p {
    margin: 0 0 0 0;
}

.forClientsPanel {
    padding: 0 0 0 34px;
}

.shadowBox {
    border-radius: 4px;
    box-shadow: 0 14px 20px 1px rgba(0,0,0,.08);
    /*box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.5);*/
}

.panelBlurb {
    padding: 20px;
}

.forClientsPanel h2 {
    font-weight: 400;
}

.bodyBlurb.bottom {
    padding-top: 40px;
}

.bodyBlurb .media-object-section:first-child {
    /*padding-top: 8px;*/
}

.supportingText {
    /*padding-top: 2px;*/
}

/* ======== */
/* fine print section */
/* ========= */

section.finePrintSection {
    min-height: 400px;
    padding-bottom: 100px;
}

.finePrint {
    max-width: 590px;
    margin: 0 auto;
}