/* font declarations */
@font-face {
    font-family: GothamBook;
    src: url('../fonts/GothamBookRegular.otf');
}

@font-face {
    font-family: GothamLight;
    src: url('../fonts/GothamLightRegular.otf');
}

@font-face {
    font-family: Hind;
    src: url('../fonts/Hind-Regular.ttf');
}

@font-face {
    font-family: Hind-SemiBold;
    src: url('../fonts/Hind-SemiBold.ttf');
}

/* ========= */
/* layout classes */
/* ========= */

.sm-full-width {
    width: 100%;
    height: auto;
}

.margin-btm-small-40 {
    margin-bottom: 40px;
}

@media (min-width: 640px) {
    .sm-full-width {
        width: initial;
    }

    .margin-btm-small-40 {
        margin-bottom: 0;
    }
}

/* ========= */
/* font base */
/* ========= */

*, *:after, *:before,
h1, h2, h3, h4, h5, h6,
p, div, span {
    font-family: 'Hind', Arial, Helvetica, sans-serif;
}

/* ========= */
/* backgrounds base */
/* ========= */

.primaryBg {
    background-color: #007dc3;
}

.secondaryBg {
    background-color: #7FC34E;
}

.primary {
    color: #007dc3;
}

button.cta.primary {
    color: #007dc3;
}

.secondary {
    color: #7FC34E;
}

button.cta.secondary {
    color: #7FC34E;
}

.secondaryHover:hover {
    color: #7FC34E;
}

.pageText {
    color: #4A4A4A;
    font-size: 16px;
}

.pageTextBorder {
    border: 1px solid #4A4A4A;
}

.pageTextBg {
    background: #4A4A4A;
}

.primaryBorder {
    border: 1px solid #007dc3;
}

.secondaryBorder {
    border: 1px solid #7fc34e;
}

button.cta.secondaryBorder {
    border: 1px solid #7fc34e;
}

.primaryHover:hover {
    color: #10537B;
}

.finePrint {
    color: #BFBDBF;
}

.strong {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

/* ========= */
/* anchor tags */
/* ========= */

a {
    text-decoration: none;
}

/* ========= */
/* flex base */
/* ========= */

.verticalCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ========= */
/* header */
/* ========= */

.header {
    padding: 14px 20px 0;
    height: 190px;
}

.tel.pageTop {
    padding-right: 20px;
}

/*.logoWrap, .nav {*/
    /*height: 100%;*/
/*}*/

.logoWrap {
    height: 40px;
}

.navList {
    flex-wrap: wrap;
}

@media (min-width: 640px) {
    .header {
        height: 108px;
    }

    .logoWrap, .nav {
        height: 100%;
    }

    .navList {
        flex-wrap: nowrap;
    }
}

/* ========= */
/* header logo */
/* ========= */

.logo {
    display: block;
    height: 37px;
    width: 100px;
    color: transparent;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    max-width: 218px;
    margin: 0 auto;
}

.logo:hover, .logo:focus, .logo:active, .logo:visited {
    color: transparent;
}

@media (min-width: 640px) {
    .logo {
        background-size: 100% auto;
        height: 100%;
        width: 100%;
        margin: 0 0 0 0;
    }
}

/* ========= */
/* header nav */
/* ========= */

.navList {
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.navItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navItem a {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}

.navItem a.loginLink {
    border: 1px solid #007dc3;
    padding: 10px 0;
}

/* ========= */
/* tel number link */
/* ========= */

.telWrap {
    text-align: right;
    font-size: 22px;
}

/* ========= */
/* slider */
/* ========= */

.orbit-bullets button {
    width: 0.8em;
    height: 0.8em;
    cursor: pointer;
}

.orbit {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.orbit-wrapper, .orbit-wrapper ul {
    height: 100%;
    width: 100%;
}

.orbit-container {
    padding: 0 0 0 0;
}

.orbit-container li {
    height: 100%;
    width: 100vw;
    overflow: hidden;
}

.orbit-figure {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.orbit-info {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.35));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 24px 80px;
}

.orbit-info.darker-bg {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.40));
}

.orbit-info.no-bg {
    background-image: none;
}

.orbit-info h1 {
    margin-bottom: 0;
}

.orbit-info h1, .orbit-info p {
    width: 100%;
    text-align: center;
}

.orbit-info p {
    font-size: 18px;
}

.dark-text {
    color: #5D5d5D;
}

.orbit-info.text-only {
    justify-content: center;
}

.orbit-container li img {
    min-height: 600px;
    min-width: 100vw;
    max-width: initial;
    width: auto;
}

/* ========= */
/* footer base */
/* ========= */

.footer {
    padding: 40px 40px 20px;
    color: #ffffff;
}

.footerColumn {
    padding: 0;
}

.footer h3 {
    font-weight: 400;
    font-size: 20px;
}

.footerList {
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.footerList li {
    margin: 15px 0;
    padding: 0 0 0 0;
    font-size: 15px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    text-decoration: underline;
}

.contactInfo a {
    color: white;
    line-height: 1.4;
    margin-bottom: 15px;
    display: inline-block;
}

.copyright {
    text-align: center;
    padding: 20px 0 0 0;
    opacity: 0.7;
}

@media (min-width: 640px) {
    .footerColumn {
        padding: 0 10px;
    }

    .footerColumn:first-child {
        padding-left: 0;
    }

    .footerColumn:last-child {
        padding-right: 0;
    }
}

/* ========= */
/* sections base */
/* ========= */

section {
    min-height: 500px;
}

.orbitSection {
    min-height: 600px;
}

section .coverWrap {
    position: relative;
}

section .cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.coverHalf {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 75vw;
}

/* ========= */
/* overlays */
/* ========= */

.overlay {
    mix-blend-mode: multiply;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.35));
}

.overlay.light {
    background-image: initial;
    filter: blur(2px);
    mix-blend-mode: unset;
}

.greyscale {
    filter: grayscale(5%);
}

.blur {
    filter: blur(1px);
}

/* ========= */
/* hero section */
/* ========= */

.hero {
    background-image: url('../images/dispense.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 580px;
    max-height: 580px;
    max-width: 100vw;
}

.heroText {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #ffffff;
    text-align: center;
    padding: 60px 60px 60px;
}

.heroText h1 {
    font-weight: 400;
    margin: 0 0 10px 0;
    letter-spacing: 0.03em;
}

.heroText p {
    margin: 0 auto;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.03em;
    line-height: 1.5;
    text-align: center;
}

/* ========= */
/* cta buttons */
/* ========= */

button.cta {
    display: block;
    border: 2px solid;
    margin: 0 auto;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s ease;
    padding: .4em 1.5em .3em 1.6em;
    font-size: 21px;
    position: relative;
    line-height: 1.7em;
    font-weight: 500;
}

button.cta a:not(.clientLogin) {
    color: #fff;
}

.header button.cta a {
    color: #007dc3;
}

button.cta.clientLoginBtn a:not(.clientLogin) {
    color: #7FC34E;
}

button .blurBg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.05);
}

button.cta.withBg {
    color: #ffffff;
    border-color: #ffffff;
}

button.cta.noBg {
    border-width: 2px;
}

button.cta:after {
    display: inline-block;
    position: absolute;
    margin-left: -1em;
    opacity: 0;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    font-size: 15px;
    transition: all .2s ease;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    top: 13%;
    -webkit-font-smoothing: antialiased;
}

button.cta:hover {
    padding: .4em 2em .3em 1.2em;
    border: 2px solid transparent;
    background-color: rgba(255,255,255,.2);
}

button.cta.noBg:hover {
    background-color: rgba(0,0,0,.05);
}

button.cta:hover:after {
    margin-left: 12px;
    opacity: 1;
    padding-top: 2px;
}

button.cta.clientLoginBtn:hover:after {
    margin-left: 60px;
}

button.cta.loginAction {
    font-size: 16px;
    line-height: 1.5;
    font-family: Hind, Arial, Helvetica, sans-serif;
}

button.cta.loginAction:after {
    top: 30%;
}

button.cta.loginAction:hover:after {
    margin-left: 16px;
}

.actions {
    max-width: 560px;
    margin: 0 auto;
}

button.cta.read {
    margin-top: 25px;
}

.telLinkWrapper {
    width: 100%;
    display: flex;
    height: 40px;
    justify-content: center;
}

.hrCol {
    height: 50%;
    display: inline-block;
    border-bottom: 1px solid #7fc34e;
    width: calc(30% - 140px);
}

.tel {
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
    color: #81C153;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

@media (min-width: 446px) and (max-width: 450px) {
    button.cta.loginAction:hover:after {
        margin-left: 30px;
        top: 30%;
    }
}

@media (min-width: 451px) and (max-width: 639px) {
    button.cta.loginAction:hover:after {
        margin-left: 48px;
        top: 15%;
    }
}

@media (min-width: 640px) {
    .tel {
        text-align: right;
        margin-bottom: 0;
    }
}

@media (min-width: 1273px) {
    button.cta.loginAction:hover:after {
        margin-left: 48px;
        top: 15%;
    }
}

/* ======== */
/* main body panel */
/* ========= */

.bodySection {
    padding: 100px 34px;
}

.fig {
    margin: 0 0 0 0;
}

.aboutPanel {
    padding-right: 34px;
}

.aboutPanel h2 {
    margin: 0 0 5px 0;
    font-weight: 400;
    font-size: 1.8em;
}

.aboutPanel h4 {
    font-weight: 400;
    margin-top: 0;
    font-size: 1.1em;
}

.blurbContent {
    display: flex;
}

.blurbText {
    line-height: 1.6;
}

.aboutPanel .fig {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    padding: 5px 15px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutPanel .fig img {
    max-width: 125px;
    max-height: 103px;
}

.withFigure p {
    margin: 0 0 0 0;
}

.shadowBox {
    border-radius: 4px;
    box-shadow: 0 14px 20px 1px rgba(0,0,0,.08);
}

.panelBlurb {
    padding: 20px;
}

.forClientsPanel h2 {
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.forClientsPanel p {
    margin-top: 0;
    margin-bottom: 25px;
}

.bodyBlurb.bottom {
    padding-top: 40px;
}

@media (min-width: 640px) {
    .forClientsPanel {
        padding: 0 0 0 34px;
    }
}

/* ======== */
/* fine print section */
/* ========= */

section.finePrintSection {
    min-height: initial;
    /*padding-bottom: 60px;*/
    padding-bottom: 30px;
}

section.finePrintSection.padTop {
    /*padding-top: 65px;*/
    padding-top: 85px;
}

.finePrint {
    text-align: justify;
    /*max-width: 590px;*/
    padding: 0 30px;
    margin: 0 auto;
}

/* ======== */
/* eqmd page about */
/* ========= */

.aboutEq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    min-height: 340px;
    padding: 40px 30px;
}

.aboutEq h1 {
    font-weight: 400;
    text-align: center;
    margin-top: 0;
}

.aboutEq p {
    text-align: center;
    font-size: 20px;
    max-width: 85%;
    margin: 0 auto;
}

.triList {
    padding: 50px;
    list-style: none;
}

.triList li h5 {
    font-size: 32px;
    text-align: left;
    font-weight: 500;
}

.bulletsSection h4 {
    font-size: 24px;
    text-align: left;
    font-weight: 500;
    margin-bottom: 30px;
    padding: 0 50px;
}

.bulletsSection ul {
    margin-top: 0;
    padding: 0 50px;
    max-width: 100%;
}

.checkItems li {
    font-size: 16px;
    margin: 0 auto;
    line-height: 1.8;
}

.bulletsSection ul li {
    font-size: 16px;
    max-width: 540px;
    margin: 0 auto;
    line-height: 1.8;
    list-style-image: url('../images/tick.gif');
}

.supportingImage {
    padding: 0 40px;
    padding-bottom: 40px;
}

@media (min-width: 640px) {
    .aboutEq {
        margin-top: 60px;
        padding: 0 0 0 0;
    }

    .triList {
        padding: 40px 0;
        list-style: none;
    }

    .triList li {
        padding: 0 35px;
    }

    .bulletsSection h4 {
        text-align: center;
    }

    .bulletsSection ul {
        padding: 0 0 0 0;
    }
}

/* ======== */
/* technology page */
/* ========= */

.techHeader {
    height: auto;
}

.techHeader.taller {
    min-height: 200px;
    height: auto;
}

.techHeader.short {
    height: 100px;
}

.techHeader .headerTop {
    padding: 0 30px;
}

.techHeader .headerBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.techHeader .headerBottom.withPad {
    padding-top: 30px;
    padding-bottom: 30px;
}

.techHeader .headerBottom p {
    max-width: 800px;
    margin: 0 auto;
    color: white;
    font-size: 18px;
    text-align: center;
}

.techHeader .headerBottom p a {
    font-weight: bold;
    text-decoration: underline;
}

.techHeader h1 {
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
}

.techHeader h1.pageText {
    font-size: 2em;
}

.techSection {
    padding: 80px 50px;
}

.techSection .bar:first-child {
    margin-bottom: 40px;
}

.techSection .bar p {
    margin: 0 0 0 0;
    font-size: 16px;
}

.techSection.lessPad {
    padding-top: 50px;
    padding-bottom: 50px;
}

.bar img {
    display: block;
    margin: 0 auto;
}

.processList {
    list-style: none;
    padding: 0 0 0 0;
}

.processList .itemTitle {
    font-size: 24px;
}

.processList .processItem:before {
    color: #7fc34e;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 32px;
}

.processSublist {
    list-style: none;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 0 0 0 0;
}

.processSublist li:before {
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 16px;
}

.secureImage {
    margin-bottom: 40px;
}

.secureImage img {
    width: 100%;
}

.quadList {
    color: #9b9b9b;
}

.quadList h4 {
    text-align: center;
    font-size: 22px;
}

.rxImg img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

@media (min-width: 640px) {
    .techBanner {
        margin-top: 60px;
    }

    .techHeader {
        height: 200px;
    }

    .techHeader .headerTop {
        padding: 0 0;
    }

    .techHeader .headerBottom {
        padding: 0;
    }

    .techSection {
        padding: 100px 120px;
    }

    .leftImage img {
        margin: 0 auto 0 0;
    }

    .centerImage img {
        display: block;
        margin: 0 auto;
    }

    .rightImage img {
        display: block;
        margin-left: auto;
    }

    .rxImg img {
        width: initial;
    }

    .processList {
        padding: 0 0 0 40px;
    }

    .processList .processItem:first-of-type:before {
        content: '1.';
    }

    .processList .processItem:nth-of-type(2):before {
        content: '2.';
    }

    .processList .processItem:nth-of-type(3):before {
        content: '3.';
    }

    .processList .processItem:nth-of-type(4):before {
        content: '4.';
    }

    .processSublist {
        margin-left: initial;
        padding-left: initial;
    }

    .processList .itemTitle {
        font-size: 32px;
    }

    .secureImage img {
        width: initial;
    }

    .quadList p {
        padding: 0 35px;
    }

    .processSublist li:before {
        content: '•';
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        font-size: 16px;
    }
}

/* ======== */
/* support page */
/* ========= */

.supportHeader {
    text-align: center;
    font-weight: 400;
    margin-top: 60px;
}

.supportBanner p {
    /*padding: 60px 100px;*/
    color: #ffffff;
    /*font-size: 22px; */
    text-align: center;
    padding: 30px;
    font-size: 18px;
}

.supportBullets {
    /*padding: 40px 80px;*/
    margin-bottom: 80px;
    padding: 40px 24px;
}

.marketingSupport {
    padding: 30px 40px;
}

.marketingSupport img {
    width: 280px;
    height: 173px;
    margin: 0 auto;
    display: block;
}

.marketingSupport h3 {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    margin: 30px 0 15px;
}

.marketingSupport p {
    margin: 0 0 0 0;
    color: #4A4A4A;
}

.supportBullets ul {
    padding: 20px 20px 0;
    margin: 0 0 24px 0;
}

.supportBullets ul li {
    color: #4A4A4A;
    line-height: 1.8;
    list-style-image: url('../images/tick.gif');
    margin: 0 auto;
    font-size: 20px;
}

@media (min-width: 640px) {
    .supportHeader {
        text-align: center;
        font-weight: 400;
        margin-top: 60px;
    }

    .supportBanner p {
        padding: 60px 100px;
        color: #ffffff;
        font-size: 22px;
        text-align: center;
    }

    .supportBullets {
        padding: 40px 80px;
        margin-bottom: 80px;
    }

    .marketingSupport {
        padding: 30px 40px;
    }

    .marketingSupport img {
        width: 280px;
        height: 173px;
        margin: 0 auto;
        display: block;
    }

    .marketingSupport h3 {
        font-size: 28px;
        font-weight: 400;
        text-align: center;
        margin: 30px 0 15px;
    }

    .marketingSupport p {
        margin: 0 0 0 0;
        color: #4A4A4A;
    }

    .supportBullets ul {
        padding: 20px 0 0 0;
        margin: 0 0 0 0;
    }

    .supportBullets ul li {
        font-size: 24px;
        color: #4A4A4A;
        line-height: 1.8;
    }
}

/* ======== */
/* faq page */
/* ========= */

.accordionSection ul {
    padding: 0 0 0 0;
    margin-bottom: 25px;
}

.faqTitle {
    margin-top: 60px;
    font-weight: 400;
    width: 100%;
    text-align: center;
}

.accordion-item .accordion-title {
    font-size: 20px;
    color: #4A4A4A;
    padding: 1.7rem 40px;
    background-color: #F3F3F3;
    border: 1px solid #979797;
    border-bottom: 0;
}

.accordion-item.is-active .accordion-title {
    border-bottom: 1px solid #979797;
}

.accordionSection .accordion-title:before {
    right: 25px;
}

.accordionSection li:last-child:not(.is-active) .accordion-title {
    border-bottom: 1px solid #979797;
}

.accordionSection .accordion-content {
    padding: 10px 40px;
}

.accordionSection .accordion-content p {
    font-size: 20px;
}

.accordionSection .accordion-content ul {
    padding-left: 20px;
    list-style: disc;
    line-height: 1.7;
}

/* ======== */
/* contact page */
/* ========= */

.contactInfoSection {
    min-height: initial;
}

.contactInfoSection h3 {
    font-size: 22px;
    padding: 24px 0;
    text-align: center;
}

.contactInfoSection p {
    text-align: center;
}

.contactInfoSection a {
    color: #4A4A4A;
}

.contactInfoSection a:hover {
    text-decoration: underline;
}

.mapSection {
    position: relative;
    margin-bottom: 60px;
    height: 540px;
    margin-top: 60px;
}

.mapSection > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: lightgray;
}
